<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<head>
    <title th:text="#{about.us.title} + ' - Car Shop'"></title>
    <link rel="stylesheet" th:href="@{/css/about-us.css}">
</head>

<body>
<div layout:fragment="content" class="about-us-container">
    <h1 class="about-us-title" th:text="#{about.us.title}"></h1>
    <p class="about-us-description" th:text="#{about.us.description.part1}"></p>
    <p class="about-us-mission" th:text="#{about.us.description.part2}"></p>
    <p class="about-us-vision" th:text="#{about.us.description.part3}"></p>
    <p class="about-us-values" th:text="#{about.us.description.part4}"></p>
</div>
</body>
</html>